body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;

}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header .logo img {
    width: 100px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    padding: 20px;
    text-align: center;
}
.image {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.gallery img {
    width: 200px;
    height: 150px;
    object-fit: cover;
}

section {
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form label {
    display: block;
}

form input, form textarea {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
    color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 370px;
}
h2{
    text-align: center;
}
.tt{
    justify-content: center;
    display: flex;
}
.hdd{
    text-align: center;
}
.okk{
    text-align: center;
}